@import "tailwindcss";

:root {
  --background: #F5EBD1;
  --foreground: #1C1C1C;
  --accent: #C48F4A;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: "Lora", serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
